:root {
    --blue: rgba(129, 106, 233, 0.877);
    --blue_old: rgb(0, 135, 231);
    --white: rgb(233, 233, 233);
    --headings: white;
}

body {
    background-color: var(--blue_old);
    overflow-x: hidden;
}

header {
    height: 55px;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    color: white;
}

.headerText {
    color: var(--headings);
    text-shadow: 4px 4px 4px rgb(15, 15, 15, 0.15),
                4px 4px 8px rgb(15, 15, 15, 0.15)
    ;
}

.searchContainer {
    background-color: var(--white);
    margin: 5% auto;
    height: 75vh;
    width: 70vw;
    box-shadow: 2px 4px 4px rgb(15, 15, 15, 0.15),
                2px 4px 8px rgb(15, 15, 15, 0.15),
                2px 4px 16px rgb(15, 15, 15, 0.15)
    ;
    /* width: 300px;
    height: 600px; */
}

.searchText {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

/* .searchField {
    width: 95%;
} */

.cityTextField {
    width: 95%;
}

.hrLine {
    border: 1px solid black;
    width: 95%;
}

#searchBtn {
    width: 95%;
    height: 40px;
    /* background-color: rgb(255, 192, 239);
    color: var(--blue); */
    font-size: 16px;
    font-weight: 600;
}

#newSearchBtn {
    background-color: grey;
    font-weight: 600;
}

.forcastContainer {
    /* background-color: var(--white); */
    margin: 2% auto;
    height: auto;
    width: 90vw;
    overflow: visible;
    /* box-shadow: 4px 4px 8px rgb(15, 15, 15, 0.15),
                4px 4px 16px rgb(15, 15, 15, 0.15); */
    /* box-shadow: 
        0px 1px 1px rgb(0, 0, 0, .1),
        0px 2px 2px rgb(0, 0, 0, .1),
        0px 4px 4px rgb(0, 0, 0, .1),
        0px 8px 8px rgb(0, 0, 0, .1),
        0px 16px 16px rgb(0, 0, 0, .1); */
}

.cityName {
    font-size: 28px;
    font-weight: 500;
    color: var(--headings);
    text-shadow: 2px 4px 4px rgb(15, 15, 15, 0.25),
                2px 4px 8px rgb(15, 15, 15, 0.25)
    ;
}

.todayForcast {
    background-color: var(--white);
    box-shadow: 4px 4px 8px rgb(15, 15, 15, 0.15),
                4px 4px 16px rgb(15, 15, 15, 0.15)
    ;
    height: 100%;
    overflow-wrap: break-word;
}

.forcastCards {
    background-color: var(--white);
    width: 250px;
    min-width: 100px;
    /* max-width: 400px; */
    height: auto;
    box-shadow: 4px 4px 8px rgb(15, 15, 15, 0.15),
                4px 4px 16px rgb(15, 15, 15, 0.15)
    ;
    overflow-wrap: break-word;
}

.todayTitle {
    font-size: 24px;
}

@media (max-width: 821px) {
    .todayForcastContainer {
        width: 100%;
        margin-bottom: 16px;
    }
    
    .forcastCardsContainer {
        flex-direction: column;
    }

    .forcastCards {
        width: 100%;
    }

    .mobileWide {
        width: 100%;
    }
}

@media (min-width: 822px) {
    .forcastCardsContainer {
        flex-direction: wrap;
    }

}
